/* Variables */

$header-bg: #fff;
$main-bg: #1c1c1c;
$banner-bg: #0282f9;
$footer-bg: #303030;

/*/ Variables */

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*/ Reset */


/*/ Common */

body {
    font-family: "Montserrat";
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

ul {
    all: unset;
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/*/ Common */


/* Header */

header {
    color: #464646;
    background-color: $header-bg;

    .container {
        display: flex;
        justify-content: space-between;

        .logo {
            padding: 10px 0;
            width: 80px;

            img {
                width: 100%;
                display: block;
            }
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        li {
            line-height: 80px;
            cursor: pointer;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            border-top: 5px solid transparent;

            &:hover {
                color: $banner-bg;
                border-bottom: 5px solid $banner-bg;
            }
        }
    }

    .jumbo {
        height: 400px;
        background-image: url(../img/jumbotron.jpg);
        background-size: cover;
        background-position: top center;
    }
}

/*/ Header */


/* Main */

main {
    background-color: $main-bg;
    color: #fff;
    padding-top: 30px;
    position: relative;

    .badge {
        all: unset;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        background-color: $banner-bg;
    }

    .series {
        font-size: 20px;
        padding: 10px 30px;
        position: absolute;
        top: -25px;
    }

    .comics-list {
        display: flex;
        flex-wrap: wrap;

        .card {
            cursor: pointer;
            width: calc(100% / 6);
            padding: 10px 15px;

            &:hover .title {
                filter: brightness(2);
            }

            img {
                height: 180px;
                width: 100%;
                object-fit: cover;
                object-position: top center;
            }

            .title {
                color: #959595;
                padding: 10px 0;
                text-transform: uppercase;
                font-size: 12px;
            }
        }
    }

    .more {
        text-align: center;
        margin: 25px 0;

        button {
            cursor: pointer;
            font-size: 14px;
            padding: 12px 50px;
        }
    }
}

/* Banner */

.banner {
    background-color: $banner-bg;
    color: #fff;
    padding: 40px 0;

    .container {
        padding: 0 40px;

        ul {
            all: unset;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }

        li {
            display: flex;
            align-items: center;
            font-size: 12px;
            text-transform: uppercase;

            img {
                object-fit: contain;
                width: 50px;
                height: 50px;
            }

            a {
                margin-left: 15px;
            }
        }
    }
}

/*/ Banner */

/* About */

.about {
    padding-bottom: 30px;
    color: #555555;
    background-color: #fff;

    h1 {
        color: #003f5e;
    }

    .detail {
        display: flex;
        gap: 30px;
        position: relative;

        .thumb {
            width: 250px;
            position: absolute;
            top: -400px;

            img {
                height: 340px;
                width: 100%;
                display: block;
            }
        }

        .price {
            margin: 20px 0;
            padding: 15px 30px;
            color: #fff;
            background-color: #55ba59;
        }

    }
}

/*/ About */

/*/ Main */


/* Footer */

/* Footer top */

.bg {
    color: #fff;
    background-image: url(../img/footer-bg.jpg);
    background-size: cover;
    overflow: hidden;

    .container {
        display: flex;
        justify-content: space-between;
    }

    .logo-bg {
        width: 50%;
        position: relative;

        img {
            width: 100%;
            position: absolute;
            left: 0;
            top: -75px;
        }
    }

    .list {
        display: flex;
        gap: 50px;
        padding: 30px 0;

        ul {
            margin-bottom: 25px;
            color: #959595;
            font-size: 14px;

            h3 {
                color: #fff;
                text-transform: uppercase;
                margin: 20px 0;
            }

            li {
                margin: 8px 0;

                a:hover {
                    filter: brightness(2);
                }
            }
        }
    }
}

/*/ Footer top */

/* Footer bottom */

footer {
    background-color: $footer-bg;
    color: #fff;

    .footer-bottom {
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;

        button {
            all: unset;
            cursor: pointer;
            padding: 15px;
            text-transform: uppercase;
            font-weight: bold;
            border: 2px solid transparent;
            border: 2px solid $banner-bg;
        }

        div {
            display: flex;
            align-items: center;

            span {
                margin: 0 20px;
                font-weight: bold;
                text-transform: uppercase;
                color: $banner-bg;
            }

            ul {
                all: unset;
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
                gap: 20px;

                a:hover {
                    filter: brightness(2);
                }
            }
        }
    }
}

/*/ Footer bottom */

/*/ Footer */